/* google fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--c-primary);
    transition: .5s ease;
}

body.dark-mode {
    --c-primary: #0f0e1a;
    --c-secondary: #d1d1e9;
    --c-accent: #6347eb;
    --c-neutral: #3c19e6;
    --c-headline: #fffffe;
    --c-paragraph: #a7a9be;
    --c-box: #0f0e17;
    transition: .5s ease;
}

/* css variables */
:root {
    /* colors */
    --c-primary: #ffffff;
    --c-secondary: #d1d1e9;
    --c-accent: #6347eb;
    --c-neutral: #3c19e6;
    --c-headline: #2b2c34;
    --c-paragraph: #2b2c34;
    --c-box: #f5f7f8;
    /* fonts */
    --ff-rt: "Roboto", sans-serif;
    --ff-pp: "Poppins", sans-serif;
    /* sizing */
    --ff-heading: 1.728rem;
    --ff-subheading: 2.074rem;
    --ff-title: 1.2rem;
    --ff-body: 1rem;
    --ff-small: 0.833rem;
}

/* updated : 3/31/26 */
.box {
    background-color: var(--c-box);
    border-radius: 4px;
    padding: 16px 12px;
    cursor: pointer;
}

/* portfolio */
.wrapper-portfolio {
    max-width: 1100px;
    width: 100%;
    margin: auto;
    padding: 20px;
}

.header {
    display: flex;
    align-items: center;
    gap: 2rem;
}

img {
    display: block;
    width: 160px;
    height: 160px;
    max-width: 100%;
    object-fit: cover;
    border-radius: 8px;
    cursor: pointer;
}

.header-content {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.content-name {
    display: flex;
    align-items: center;
    gap: .5rem;
}

.content-name .name {
    font-family: var(--ff-rt);
    font-size: var(--ff-subheading);
    font-weight: bold;
    color: var(--c-headline);
}

.content-name .img-badge {
    width: 16px;
    height: 16px;
    border: none;
    cursor: pointer;
}

.content-location .location {
    font-family: var(--ff-pp);
    font-size: var(--ff-body);
    font-weight: 400;
    color: var(--c-paragraph);
}

.content-message .message-paragraph {
    font-family: var(--ff-pp);
    font-size: var(--ff-body);
    font-weight: 400;
    color: var(--c-paragraph);
}

.content-cta {
    display: flex;
    align-items: center;
    gap: .5rem;
    width: 300px;
}

.content-cta .cta-cv {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--c-neutral);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
    height: 40px;
    color: #fff;
    text-decoration: none;
    font-family: var(--ff-pp);
    font-weight: 600;
    font-size: var(--ff-small);
}

.content-cta button {
    width: 100%;
    height: 40px;
    outline: none;
    border: none;
    background-color: var(--c-neutral);
    color: #fff;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color all .5s ease;
}

.content-cta button:hover,
.content-cta button:active,
.content-cta .cta-cv:hover,
.content-cta .cta-cv:active {
    background-color: var(--c-accent);
}

.header-toggle {
    margin-left: auto;
}

.header-toggle i {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: var(--c-neutral);
    color: #fff;
    border-radius: 50%;
    cursor: pointer;
    transition: .5s ease;
}

.header-toggle i:hover,
.header-toggle i:active {
    background-color: var(--c-accent);
}

/* sections */
.main-portfolio {
    display: grid;
    grid-template-columns: 2fr 1fr;
    gap: 24px;
    margin-top: 40px;
}

.left {
    display: grid;
    gap: 24px;
}

.left-about .about-title,
.left-tech .tech-title,
.left-certifications .certifications-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-title);
    font-weight: bold;
    color: var(--c-headline);
}

.right-experience .experience-title,
.right-projects .projects-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-title);
    font-weight: bold;
    color: var(--c-headline);
}

.about-content {
    margin-top: 8px;
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.about-content .content-message {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
}

.tech-content {
    margin-top: 8px;
}

.content-tech {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.tech-card .card-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-body);
    font-weight: 500;
    color: var(--c-headline);
}

.card-list {
    display: flex;
    align-items: center;
    gap: .5rem;
    margin-top: 8px;
}

.card {
    background-color: #dedede;
    padding: 8px 16px;
    border-radius: 8px;
}

.card {
    font-family: var(--ff-pp);
    font-size: var(--ff-body);
    font-weight: 400;
    cursor: pointer;
    transition: all .5s ease;
}

.card:hover {
    background-color: #cccccc;
}

.content-certifications {
    margin-top: 8px;
}

.certifications-list .list-cert {
    display: flex;
    gap: .5rem;
    flex-wrap: wrap;
}

.cert-img {
    display: block;
    border: 1px solid #222;
    width: 100px;
    height: auto;
    object-fit: cover;
    cursor: pointer;
    transition: transform .5s ease;
}

#overlay {
    display: none;
    position: fixed;
    z-index: 99;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8);
    justify-content: center;
    align-items: center;
}

#overlay #preview-img {
    width: auto;
    height: auto;
    max-width: 90%;
    max-height: 90%;
}

#overlay.active {
    display: flex;
}

.left-banner .banner-image {
    width: 100%;
    height: 100%;
    position: relative;
}

.banner-image .banner {
    width: 100%;
    height: auto;
    object-fit: cover;
    cursor: pointer;
}

.banner-image .overlay-text {
    position: absolute;
    z-index: 99;
    bottom: 0;
    left: 0;
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: #fff;
    padding: 16px;
}

.right {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.content-experience {
    margin-top: 8px;
    display: grid;
    gap: 8px;
}

.experience-list .list-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-body);
    font-weight: 500;
    color: var(--c-headline);
}

.list-item {
    margin-top: 8px;
}

.list-item p {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
}

.right-projects .projects-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-title);
    font-weight: 500;
    color: var(--c-headline);
}

.content-projects {
    margin-top: 8px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 8px;
}

.project-lists .lists-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-body);
    font-weight: 500;
    color: var(--c-headline);
}

.project-lists .lists-message {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
    margin-top: 4px;
}

.project-lists .lists-link {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
    margin-top: 8px;
    display: block;
}

.right-contact .contact-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-body);
    font-weight: 500;
    color: var(--c-headline);
}

.contact-lists {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1rem;
}

.lists-links {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lists-links .links {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
    text-decoration: none;
    cursor: pointer;
}

.lists-me {
    display: flex;
    flex-direction: column;
    gap: .5rem;
}

.lists-me .me {
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 400;
    color: var(--c-paragraph);
    cursor: pointer;
}

.right-video .video-title {
    font-family: var(--ff-rt);
    font-size: var(--ff-body);
    font-weight: 500;
    color: var(--c-headline);
}

.video-box {
    margin-top: 8px;
}

.video-box video {
    width: 100%;
    height: auto;
    cursor: pointer;
}

.footer {
    margin-top: 48px;
    border-top: 1px solid #ccc;
    width: 100%;
}

.footer p {
    text-align: center;
    margin-top: 16px;
    font-family: var(--ff-pp);
    font-size: var(--ff-small);
    font-weight: 500;
    color: var(--c-paragraph);
}

/* tablet */
@media screen and (max-width: 768px) {
    .wrapper-portfolio {
        padding: 16px;
    }

    .header {
        gap: 1.5rem;
    }

    .main-portfolio {
        grid-template-columns: repeat(1, 1fr);
    }

    .content-message .message-paragraph {
        font-size: var(--ff-small);
    }
}

/* mobile */
@media screen and (max-width: 420px) {
    .wrapper-portfolio {
        padding: 12px;
    }

    .main-portfolio {
        margin-top: 24px;
    }

    .header {
        gap: .5rem;
    }

    img {
        width: 130px;
        height: 130px;
    }

    .content-name .name {
        font-size: var(--ff-title);
    }

    .content-location .location {
        font-size: var(--ff-small);
    }

    .content-message .message-paragraph {
        font-size: var(--ff-small);
    }

    .content-cta {
        width: 100%;
    }

    .content-cta .cta-cv,
    .content-cta button {
        width: 100%;
        height: 40px;
        font-size: var(--ff-small);
    }

    .header-toggle {
        position: fixed;
        z-index: 99;
        bottom: 0;
        right: 0;
        padding: 24px 16px;
    }

    .card {
        padding: 8px 12px;
        font-size: var(--ff-small);
    }

    .certifications-list {
        width: 100%;
    }

    .list-cert {
        display: block;
        margin: 0 auto;
    }

    .content-projects {
        grid-template-columns: repeat(1, 1fr);
    }
}
